extends layout

block content
    link(rel='stylesheet' href='/stylesheets/croppie.css')
    script(src='/javascripts/croppie.js')
    script(src='/javascripts/library.js')
    h1= title
    p Welcome to #{title}
        div
            input(type="radio" id="show-all" name="view_settings" value="show-all" checked onclick='filterBookList(this)')
            label(for="show-all") Показать все
        div
            input(type="radio" id="show-onHands" name="view_settings" value="show-onHands" onclick='filterBookList(this)')
            label(for="show-onHands") Показать книги в библиотеке
        div
            input(type="radio" id="show-not-onHands" name="view_settings" value="show-not-onHands" onclick='filterBookList(this)')
            label(for="show-not-onHands") Показать выданные книги
    div.w3-container.w3-twothird
        -for (book of books)
            div.w3-card-4(style='width: 250px; display: inline-block; margin-left: 20px; margin-bottom: 20px')

                div.w3-container.w3-center
                    p Есть ли в библиотеке: #{book.onHands}
                div.w3-container.w3-center
                    p Дата выпуска: #{book.releaseDate}
                div.w3-container.w3-center
                    p Автор: #{book.author}
                div.w3-bar.w3-pink
                    span.w3-bar-item #{book.title}
                    a.w3-bar-item.w3-button.w3-right(href=`/library/books/${book.title}`)
                        i.fa.fa-caret-right

    div.w3-container.w3-third
        form(action='/library' method='POST' name="add-request")
            .w3-card.w3-container
                .w3-third
                    p   Название
                        p
                            input(name='title' required)
                    p   Автор
                        p
                            input(name='author' required)
                    p   Дата выпуска
                        p
                            input(name='releaseDate' type='date' required)
                    p   Аватар
                        p
                            img#avatar-preview(style="width: 100px; height: 150px")
                            input(type='hidden' id='result_crop' name='avatar' required)
                    p
                        input(type='submit' value='Добавить')

                #vanilla-demo.w3-twothird.vanilla-kek
        button.vanilla-result Result
                input(type='file' id='avatar' accept="image/*")

